body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("vidur.jpg");
  background-size: cover;
}

canvas {
    position: absolute;
    margin: -350px 0 0 -350px;
    top: 50%;
    left: 50%;
}

h1{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 3em;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
  color: orange;
}
p{
    font: 22px;
    color: orange;
     font-weight: bold;
     font-family:Times New Roman, Times, serif;
}
.box{
    width: 300px;
    padding: 30px;
    margin: 30px;
    border: 2px solid black;
    box-sizing: border-box;
}
.right{
  position:absolute;
  right: 0.5%;
  top:450px;
}
#lvl-easy{
  color:black;
}
#lvl-medium{
  color:black;
  background-color:#fdf496 ;
}
#lvl-hard{
  background-color:red;
  color:orange;
}


button {
   -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background-color:green;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:5px;
    border:1px solid #001800;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Times New Roman;
    font-size:15px;
    font-weight:bold;
    padding:17px 24px;
    text-decoration:none;
  /*  text-shadow:-6px -6px 14px #2b665e;*/
    margin-left: 46;
    width:110px;
}
button:hover{
      -moz-box-shadow:inset 0px 1px 2px 0px #001800;
    -webkit-box-shadow:inset 0px 1px 2px 0px  #001800;
    box-shadow:inset 0px 1px 2px 0px  #001800;

}
button:active{
    color: orange;
}

button:active;{
  color:black;
}